Source: triton-mdata-client
Maintainer: Triton Developers <triton-devs@mnx.io>
Section: misc
Priority: optional
Standards-Version: 4.5.1
Build-Depends: debhelper (>= 12)
Homepage: https://github.com/TritonDataCenter/mdata-client

Package: triton-mdata-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: joyent-mdata-client
Provides: joyent-mdata-client
Conflicts: joyent-mdata-client
Description: Metadata client tools for use in guest virtual machines
 hosted on a SmartOS hypervisor.
